:root {
    --color-primario: #f92c50;  /* Naranja */
    --color-secundario: #1f6463; /* Azul */
    --color-fondo: #091935;
    --color-texto: #2c3e50;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: var(--color-primario);
    font-size: 28px;
}

.descripcion {
    font-size: 16px;
    color: #25f3af;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-texto);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: var(--color-secundario);
    color: white;
    padding: 12px 0;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1dc0ae;
}

#resultado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--color-primario);
}
